@use "../abstracts/variables";



@media (prefers-color-scheme: dark) {
    body {
        background-color: black !important;
        color: white !important;

        header {
            background-color: darken(variables.$quaternary-color, 10%);
        }

        nav {
            @extend header;
        }

        footer {
            @extend header;
        }
    }
    @if (prefers-color-scheme: dark) {
        main img {
            border: 2px solid white;
        }
    }
}