@use "../abstracts/variables";

header {
    background-color: variables.$tertiary-color;
    height: 120px;
    margin: 0;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}