@use "../abstracts/variables";

#clock {
    margin: 20px auto;
    padding: 0;
    background: variables.$quaternary-color;
    width: 15%;
    min-width: 150px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 34px;
    font-family: calibri;
}