@use "../abstracts/mixins";

@keyframes imagehighlight {
    0% {
        border-radius: 100%;
    }

    100% {
        border-radius: 0%;
    }
}

main .image-gallery img {
    @include mixins.center();
    animation-name: imagehighlight;
    animation-duration: 3s;
}

img:hover {
    transform: scale(1.1, 1.1);
}